<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Уровень логирования по умолчанию -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
    <withJansi>true</withJansi>

    <!-- Консольный аппендер -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{ISO8601} [%t] %highlight([%level]) [%C::%M:%L] mdc: [%mdc] | %m%n
            </pattern>
        </encoder>
    </appender>

    <logger name="org.springframework" level="WARN"/>
    <logger name="ru.sevbereg.loyaltyprogra" level="DEBUG"/>

</configuration>